@charset "UTF-8";
      html,
      body {
        line-height: 1;
        text-rendering: optimizeLegibility;
        font-weight: 300;
        /*font-weight:400 */
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 62.5%;
      }

      body {
        font-size: 1.8rem;
      }

      p,
      li {
        line-height: 3.2rem;
        margin-bottom: 3.2rem;
      }
      a {text-decoration:none;}
      h2 {
        font: bold 2.4rem/4rem helvetica, arial, sans-serif;
        letter-spacing: .1rem;
        margin-top: 0;
        margin-bottom: 2.4rem;
      }

      h3 {
        color: #2daf21
      }

      h3 span {
        color: #000000
      }

      h4 span {
        font-weight: normal;
      }

      article {
        position: relative;
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
      
      }


      /*== Table of contents == */

      ol,
      ul,
      li {
        margin: 0;
        padding: 0;
      }

      .listaP { padding: 2.4rem; margin:2.4rem;}
      .listaP,

      .producto {
        position: relative;
        z-index: 2; 
        }

      .listaP ul {
        counter-reset: item;
        position: relative; }
        .listaP ol > li:before {
          content: counters(item, ".") ". ";
          display: table-cell;
          padding-right: .8rem;
          width: 2.4rem; }
        .listaP ol li li:before {
          content: counters(item, ".") " "; }

      .listaP li {
        counter-increment: item;
        display: table;
        font-weight: 400;
        margin-bottom: .8rem;
        margin-left: 0;
        -webkit-transition: .3s;
        transition: .3s;
        width: 100%; }
        .listaP li li {
          font-weight: 300;
          margin-bottom: 0;
          margin-left: 0; }
        .listaP li .precio:before {
          content: '';
          display: block;
          left: 0;
          margin-top: 1.8rem;
          position: absolute;
          right: 4rem; }
        .listaP li > a {
          display: inline-block;
          width: 100%; }
        .listaP li a:hover span {
          font-weight: 600; }
        .listaP li a:hover .precio:before {
          border-bottom-width: 2px; }

      .producto {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 3.2rem;
        padding-right: .8rem; }

      .precio {
        float: right; }

      /*=== Colors === */
      .listaP,
      .listaP ol > li:before,
      .producto {
        background-color: #f7f9fb; }

      .listaP li .precio:before {
        border-bottom: 1px dotted rgba(0, 0, 0, 0.9); }